<div class="content">
    <div class="row">                 
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="" style="width:100%;height:100%" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <a>
                                <img style="background-color:dimgrey;height:50px;width:50px" class="avatar border-gray" src="@ViewBag.Data3" alt="..." />
                                <h5 class="title">@ViewBag.Data0</h5>
                            </a>
                            <p class="description">
                                ID: @ViewBag.Data2
                            </p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button onclick="window.location.href='@ViewBag.Data1'" class="btn btn-neutral btn-icon btn-round btn-lg">
                            <i class="fab fa-facebook-f"></i>
                        </button>
                    </div>
                    <hr>
                </div>
            </div>
    </div>
</div>